.field {
    position: relative;
}

.field_cell {
    position: absolute;
}

.field_inner {
    position: absolute;
}

.field-wrap {
    background-color: rgb(34, 32, 51);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}