body {
    margin: 0;
    padding: 0;
}

html, body, #root {
    height: 100%;
}

@font-face {
    font-family: Starseed;
    src: url("./resources/StarseedPro.ttf") format('truetype');
}

body, button, input, select  {
    font-family: Starseed, Arial, sans-serif;
}

.layout {
    margin: 0;
    background-color: #5adae5;
    display: flex;
    flex-direction: column;
}

.layout .layout__content {
    flex: 1;
    background-color: #81ba44;
    padding-bottom: 50px;
}

.layout .layout__content .layout__work-space {
    max-width: 700px;
    margin: auto;
}

.layout .layout__cloud {
    position: relative;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.layout .layout__cloud:before {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    background-size: contain;
    background-image: url("./resources/cloud.png");
    background-repeat: repeat-x;
    position: absolute;
    min-width: 3984px;
    top: 0;
}

.logo {
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 202px;
}

.logo:after {
    content: '';
    position: absolute;
    top: 52%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #81ba44;
}

.logo .logo__name {
    display: inline-block;
    width: 400px;
    height: 200px;
    background-image: url("./resources/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.logo .logo__ground {
    background-image: url("./resources/ground.png");
    background-size: contain;
    background-repeat: repeat-x;
    width: 100%;
    height: 46px;
    position: absolute;
    top: 50%;
    z-index: 2;
    display: block;
    transform: translate3d(0, -50%, 0);
}

.logo .logo__grass {
    width: 80px;
    height: 40px;
    left: 50%;
    top: 67%;
    z-index: 3;
    position: absolute;
    background-image: url("./resources/grass.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logo .logo__grass.logo__grass_place_one {
    transform: translate(-451px,-10px);
}

.logo .logo__grass.logo__grass_place_two {
    transform: translate(-284px, 13px);
}

.logo .logo__grass.logo__grass_place_three {
    transform: translate(245px, -8px);
}

.logo .logo__grass.logo__grass_place_four {
    transform: translate(374px, 0px);
}

.button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 2px 25px 6px 25px;
    font-size: 21px;
    line-height: 26px;
    user-select: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #d85234;
    position: relative;
    border-top: 7px solid #d85234;
    border-bottom: 7px solid #d85234;
    border-left: none;
    border-right: none;
    box-shadow: -13px 0 0 -7px #d85234;
}

.button.button_submit {
    background-color: #fed811;
    color: #d85234;
    box-shadow: -13px 0 0 -7px #fed811;
    border-top: 7px solid #fed811;
    border-bottom: 7px solid #fed811;
}

.button.button_submit:before {
    box-shadow: 6px 0 0 0 #fed811;
}

.button:active {
    transform: translate(0, 3px);
}

.button:before {
    content: '';
    display: block;
    box-shadow: 6px 0 0 0 #d85234;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.button.button_wide {
    width: 100%;
}

.button.button_size_small {
    font-size: 16px;
    padding: 2px 10px 4px 10px;
    line-height: 15px;
}

.form .form__field + .form__field {
    margin-top: 10px;
}

.form-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrap .form-wrap__inner {
    width: 200px;
}

.input {
    color: white;
    position: relative;
    border-top: 7px solid #308140;
    border-bottom: 7px solid #308140;
    border-left: none;
    border-right: none;
    box-shadow: -13px 0 0 -7px #308140;
    display: inline-block;
}

.input_wide {
    width: 100%;
}

.input:before {
    content: '';
    display: block;
    box-shadow: 6px 0 0 0 #308140;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.input__field {
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    color: white;
    font-size: 21px;
    line-height: 26px;
    padding: 2px;
}

.input__field::placeholder {
    color: rgb(94, 158, 68);
}

.input__label {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translate(-100%, -50%);
}

.select {
    color: white;
    position: relative;
    border-top: 7px solid #308140;
    border-bottom: 7px solid #308140;
    border-left: none;
    border-right: none;
    box-shadow: -13px 0 0 -7px #308140;
    display: inline-block;
}

.select_wide {
    width: 100%;
}

.select:after {
    content: '';
    display: block;
    background-color: #308140;
    position: absolute;
    width: 6px;
    height: 100%;
    right: 0;
    top: 0;
    transform: translate(100%, 0);
}

.select__field {
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    color: white;
    font-size: 21px;
    line-height: 26px;
    padding: 2px;
}

.select__field::placeholder {
    color: rgb(94, 158, 68);
}

.select__label {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translate(-100%, -50%);
}

.text {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
}

.text.text_size_big {
    font-size: 21px;
    line-height: 26px;
}

.text.text_size_large {
    font-size: 32px;
    line-height: 46px;
}

.text.text_color_white {;
    color: white;
}

.text.text_color_green {
    color: #0c6b38;
}

.align-center {
    text-align: center;
}

.table {
    display: block;
    width: 100%;
    margin: auto;
}

.table > .table__head, .table > .table__body {
    width: 100%;
    display: block;
}

.table .table__row {
    display: flex;
}

.table > .table__head > .table__row > .table__cell:first-child,
.table > .table__body > .table__row > .table__cell:first-child {
    flex: 1;
    text-align: left;
}

.table > .table__head > .table__row > .table__cell,
.table > .table__body > .table__row > .table__cell {
    width: 70px;
    text-align: left;
}

.table > .table__head > .table__row > .table__cell.table__cell_size_wide,
.table > .table__body > .table__row > .table__cell.table__cell_size_wide {
    width: 140px;
}

.table > .table__body > .table__row > .table__cell {
    display: flex;
    flex-direction: row;
}

.table > .table__body > .table__row > .table__cell::after {
    content: '';
    display: block;
    flex: 1;
    transform: translate(0, 50%);
    border-top: 1px solid #0c6b38;
    margin: 0 10px;
}

.table > .table__body > .table__row > .table__cell.table__cell_right::before {
    content: '';
    display: block;
    flex: 1;
    transform: translate(0, 50%);
    border-top: 1px solid #0c6b38;
    margin: 0 10px 0 -13px;
}

.table > .table__body > .table__row > .table__cell:last-child::after {
    display: none;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section {
    margin-top: 30px;
}

.section-title {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.lk-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lk-add {
    text-align: center;
}

.lk-monitor {
    display: flex;
    flex-direction: row;
}

.lk-monitor .lk-monitor__part {
    flex: 1;
}

.championships {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}

.championships-card {
    display: flex;
    flex-direction: column;
    position: relative;
    border-top: 7px solid #308140;
    border-bottom: 7px solid #308140;
    border-left: none;
    border-right: none;
    box-shadow: -13px 0 0 -7px #308140;
}

.championships-card:before {
    content: '';
    display: block;
    box-shadow: 6px 0 0 0 #308140;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.championships-card__content {
    flex: 1;
    padding: 5px 5px 0 5px;
}

.championships-card__actions {
    padding: 10px 0;
    text-align: center;
}

.pagination {
    text-align: center;
}

.pagination_content {
    display: inline-block;
}